.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  align-items: flex-end;
  @media screen and (max-width: 800px) {
    display: none;
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-inline: 1rem;
    &--title {
      font-size: 1.5rem !important;
    }
    &--more {
      width: 6rem;
      height: 3rem;
      font-weight: 600 !important;
      color: #1158a7 !important;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 800px) {
      padding: 0;
    }
  }
}
