@font-face {
  font-family: "MyCustomFont";
  src: url("/assets/fonts/IRANSansXV.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "MyCustomFont", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
head {
  height: 100%;
  overflow: hidden;
}
